.wrapper {
	display: flex;
	
	align-items:center;
	justify-content: center; 

	height: 500px;
	width: auto;

	background-color: #eef6fb;
	margin-top: 30px;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title {
	margin-bottom: 10px;
} 

.titleh4 {
	margin-bottom: 0;
}

.card {
	display: flex;
	flex-direction: column;
	
	align-items: center;
}

.input, .textarea {
	padding: 8px 15px;
	margin: 15px;

  color: #69717B;
  border: none;
  border-radius: 5px;
  outline-color: #7351F5;
  background: white;
  box-shadow: 0 4px 4px rgb(0 0 0 / 5%);

  font-size: 16px;
  line-height: 22px;
}

.textarea {
	max-width: 300px;
	max-height: 150px;
	min-width: 300px;
	min-height: 150px;
}

.description {
	margin-bottom: 0;
}

.btn {
	display: inline-block;

  box-sizing: border-box;
  padding: 5px;
	width: 150px;
	margin-top: 5px;

	font-size: 16px;
  line-height: 22px;

  cursor: pointer;
  transition: all 0.2s;
  text-align: center;

  border: none;
  border-radius: 5px;

  font-size: 14px;

	color: white;
  background-color:	#7351F5;
}

.btn:hover {
	background-color: #603FE6;
}

.alert {
  color: rgb(241, 90, 90);
}

button[disabled], button[disabled]:hover {
  background: #b5a5f6;
}